@model QuanLyThongTinDaoTao.Models.HocVien
@{
    ViewBag.Title = "Edit";
    Layout = "~/Views/Shared/_MainLayout.cshtml";
}

<h2>Chỉnh Sửa Thông Tin Cá Nhân</h2>

@using (Html.BeginForm("Edit", "Account", FormMethod.Post))
{
    @Html.AntiForgeryToken()
    <table class="table table-bordered">
        <tr>
            <th>Họ và Tên</th>
            <td>@Html.TextBoxFor(m => m.HoVaTen, new { @class = "form-control" })</td>
        </tr>
        <tr>
            <th>Ngày Sinh</th>
            <td>@Html.TextBoxFor(m => m.NgaySinh, new { @class = "form-control", type = "date" })</td>
        </tr>
        <tr>
            <th>Số Điện Thoại</th>
            <td>@Html.TextBoxFor(m => m.SoDienThoai, new { @class = "form-control" })</td>
        </tr>
        <tr>
            <th>Cơ Quan Làm Việc</th>
            <td>@Html.TextBoxFor(m => m.CoQuanLamViec, new { @class = "form-control" })</td>
        </tr>
    </table>

    <button type="submit" class="btn btn-success">Lưu Thay Đổi</button>
    <a href="@Url.Action("ThongTinCaNhan", "Account")" class="btn btn-secondary">Hủy</a>
}