@model QuanLyThongTinDaoTao.Models.HocVien
@{
    ViewBag.Title = "ThongTinCaNhan";
    Layout = "~/Views/Shared/_MainLayout.cshtml";
}

<h2>Thông Tin Cá Nhân</h2>

<table class="table table-bordered">
    <tr>
        <th>Mã Học Viên</th>
        <td>@Model.MaHocVien</td>
    </tr>
    <tr>
        <th>Họ và Tên</th>
        <td>@Model.HoVaTen</td>
    </tr>
    <tr>
        <th>Email</th>
        <td>@Model.Email</td>
    </tr>
    <tr>
        <th>Ngày Sinh</th>
        <td>@Model.NgaySinh?.ToString("dd/MM/yyyy")</td>
    </tr>
    <tr>
        <th>Số Điện Thoại</th>
        <td>@Model.SoDienThoai</td>
    </tr>
    <tr>
        <th>Cơ Quan Làm Việc</th>
        <td>@Model.CoQuanLamViec</td>
    </tr>
    <tr>
        <th>QR Code</th>
        <td>
            <img src="https://api.qrserver.com/v1/create-qr-code/?size=150x150&data=@Model.QR_Code_HV" />
        </td>
    </tr>
</table>

<a href="@Url.Action("Edit", "Account")" class="btn btn-primary">Chỉnh sửa</a>